@keyframes fadeInOut {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}
.loop-fade {
  animation: fadeInOut 3s ease-in-out infinite;
}

@keyframes floatUpDown {
  0%, 100% { transform: translateY(0); opacity: 0.8; }
  50% { transform: translateY(-10px); opacity: 1; }
}
.bg-left,
.bg-right {
  animation: floatUpDown 6s ease-in-out infinite;
  opacity: 0.8;
  filter: blur(0.5px);
}
